<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-input placeholder="Parámetro" [(ngModel)]="valor"></ion-input>
     </ion-item>
  
     <ion-button expand="full" (click)="pushLugar()">
      Enviar Parámetro
     </ion-button>
  </div>


  <div id="footer">
    <div id="tabs">
      <ion-tabs>
        <ion-tab-bar color="dark" slot="bottom">
          <ion-tab-button routerLink="/tabs"> 
            <ion-icon name="megaphone"></ion-icon>
          </ion-tab-button>
          <ion-tab-button routerLink="/perfil"> 
            <ion-icon name="cog"></ion-icon>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
  </div>
   </div>



</ion-content>